extends layout

block content
  div(class="index_body")
    img#imBoredLogo(src='/images/imBoredLogo.png', alt='im bored', text='oops')
    p Let us help you find something to do!
    if error
      p(class='error_msg')= error
    form(name="input" action="/" method="post" id='login-form')
      | Username:
      input(type="text" name="username" class='username' required)
      br
      | Password:
      input(type="password" name="password" class='pswd' required)
      br
      input#btn(type="submit" value="Login")
    br  
    | Not Registered?
    br
    form(method="get" action="/register")  
      input#btn2(type="submit" value="Register" )  
  div  
