extends layout
doctype html
head
<!-- Latest compiled and minified CSS -->
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
block content
  body
    img#imBoredText(src='/images/imBoredHeader.png', alt='im bored', text='oops')
    div(class="main_reg")
      form(method="post" action="/register" id="regisForm")
        p(class="h1") Register a new account!
        div
          label
            input#regEmail(type="email" name="username" placeholder="email" required="required")
        div
          label
            input(type="password" name="password" placeholder="password" id="password")
        div
          label
            input(type="password" name="password_confirm" placeholder="re-type password" id="password_confirm")
        div
          input(type="text" name="city" placeholder="Enter city name" class='citay' required)
          p(class="activity") Please choose some activities you like to do!
          div(class="prefs") 
        div(class="buttons")  
          form(method="get" action="/results")
            input#regSubmit(type="submit" value="Submit" disabled)
  script(type="text/javascript" src="/javascripts/jquery.js")
  script(type="text/javascript" src="/javascripts/underscore.js")
  script(type="text/javascript" src="/javascripts/backbone.js")
  script(type="text/javascript" src="/javascripts/imBoredServe.js")
  script(type="text/stylesheet" src="/stylesheets/responsive.css")
  script(type="text/stylesheet" src="/stylesheets/style.css")
  script(src="http://code.jquery.com/jquery-2.1.4.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")