//- registration page
//- //div with class main_reg.  Contains everything except Im Bored logo.
extends layout

block content
  body
    img#imBoredText(src='/images/imBoredHeader.png', alt='im bored', text='oops')
    div(class="main_reg")
      form(method="post" action="/register" id="regisForm")
        p(class="h1") Register a new account!
        div
          label
            input(type="text" name="username" placeholder="email")
        div
          label
            input(type="password" name="password" placeholder="password" id="password")
        div
          label
            input(type="password" name="password_confirm" placeholder="re-type password" id="password_confirm")
          p(class="activity") Please choose some activities you like to do!
          div(class="prefs")
        div(class="buttons")  
          form(method="get" action="/results")
            input#regSubmit(type="submit" value="Submit")
  script(type="text/javascript" src="/javascripts/jquery.js")
  script(type="text/javascript" src="/javascripts/underscore.js")
  script(type="text/javascript" src="/javascripts/backbone.js")
  script(type="text/javascript" src="/javascripts/imBoredServe.js")
  script(type="text/stylesheet" src="/stylesheets/responsive.css")
  script(type="text/stylesheet" src="/stylesheets/style.css")
  script(type="text/stylesheet" src="/stylesheets/bootstrap.css")