extends layout

block content
  body.bodyDiv
    img#imBoredText(src='/images/imBoredHeaderWeb.png', alt='im bored', text="I'm Bored")
    div#regInfo
      p.error_msg= error
      form#regisForm(method="post" action="/register")
        p.h1 Register a new account!
        div
          input#citay(type="text" name="city" placeholder="Location" required)        
        div
          label
            input#regEmail(type="email" name="username" placeholder="email" required)     
        div
          label
            input#password(type="password" name="password" placeholder="password")
        div
          label
            input#password_confirm(type="password" name="password_confirm" placeholder="re-type password") 
        div.prefBox
          div.prefs
              p.activity Please choose some activities you like to do!
          div.buttons  
            form(method="get" action="/results")
              input#regSubmit(type="submit" value="Submit" disabled)                          
  script(type="text/javascript" src="/javascripts/jquery.js")
  script(type="text/javascript" src="/javascripts/underscore.js")
  script(type="text/javascript" src="/javascripts/backbone.js")
  script(type="text/javascript" src="/javascripts/imBoredServe.js")
  link(type="text/stylesheet" src="/stylesheets/style.css")
  meta(name="viewport" content="width=device-width")
  