//- registration page
extends layout

block content
  h1= title
  //- //div with class main_reg.  Contains everything except Im Bored logo. 
  div(class="main_reg")
    form(method="post" action="/register" id="regisForm")
      p(class="h1") Register a new account here!
      div
        label
          input(type="text" name="email" placeholder="email")
      div
        label
          input(type="password" name="password" placeholder="password" id="password")
      div
        label
          input(type="password" name="password_confirm" placeholder="re-type password" id="password_confirm")
      div(class="prefs")
        p(class="activity") Please choose some activities you like to do!
        //- label(class="preference")
        //-   |Amusement Park
        //-   input(type="checkbox" name="amusement_park")
        //- label(class="preference")
        //-   |Art Galleries
        //-   input(type="checkbox" name="art_gallery")
        //- label(class="preference")  
        //-   |Aquarium
        //-   input(type="checkbox" name="aquarium")
        //- label(class="preference")
        //-   |Bowling Alley
        //-   input(type="checkbox" name="bowling_alley")
        //- label(class="preference")
        //-   |Movie Theater
        //-   input(type="checkbox" name="movie_theater")
        //- label(class="preference")
        //-   |Campgrounds
        //-   input(type="checkbox" name="campground")
        //- label(class="preference")
        //-   |Cafes
        //-   input(type="checkbox" name="cafe")
        //- label(class="preference")
        //-   |Restaurants
        //-   input(type="checkbox" name="restaurant")
        //- label(class="preference"),
        //-   |Libraries
        //-   input(type="checkbox" name="library")
        //- label(class="preference")
        //-   |Museums
        //-   input(type="checkbox" name="museum")
        //- label(class="preference")
        //-   |Parks
        //-   input(type="checkbox" name="park")
        //- label(class="preference")
        //-   |Shopping
        //-   input(type="checkbox" name="shopping_mall")
        //- label(class="preference")
        //-   |Concerts
        //-   input(type="checkbox" name="stadium")
        //- label(class="preference")
        //-   |Zoo
        //-   input(type="checkbox" name="zoo")
        //- label(class="preference")
        //-   |Educational Events
        //-   input(type="checkbox" name="university")
        //- label(class="preference")
        //-   |Swimming
        //-   input(type="checkbox" name="swimming")
        //- label(class="preference")
        //-   |Spa
        //-   input(type="checkbox" name="spa")
        //- label(class="preference")
        //-   |Hiking
        //-   input(type="checkbox" name="hiking")
        //- label(class="preference")
        //-   |Book Stores
        //-   input(type="checkbox" name="book_store")
        //- label(class="preference")
        //-   |Dancing
        //-   input(type="checkbox" name="night_club")
      div(class="buttons")
        input(type="submit" value="Submit" id="submit" )
  script(type="text/javascript" src="/javascripts/jquery.js")
  script(type="text/javascript" src="/javascripts/underscore.js")
  script(type="text/javascript" src="/javascripts/backbone.js")
  script(type="text/javascript" src="/javascripts/imBoredServe.js")
  script(type="text/stylesheet" src="/stylesheets/style.css")