doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/stylesheets/reset.css")
    link(rel='stylesheet', href="/stylesheets/results.css")
  body
    block content
    nav
        div(class='xtra')
            button(class="prefMenu") 
                img(src="/images/hamburger.svg" alt="Preferences")
            div(class='prefs hidden')
        span(class="welcome")
            img(class=" header" src="/images/imBoredHeader.png" alt="Welcome to I'm Bored")
        button(class="weather")
        a(href="/logout" class='logoutbutton') Logout     
    div(id='prefResults')
    script(type="text/javascript" src="/javascripts/jquery.js")
    script(type="text/javascript" src="/javascripts/underscore.js")
    script(type="text/javascript" src="/javascripts/backbone.js")
    script(type="text/javascript" src="/javascripts/results.js")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
    


    
    


