doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/stylesheets/reset.css")
    link(rel='stylesheet', href="/stylesheets/results.css")
  body
    div(id='map-canvas')
    block content
    nav
        button(class="prefMenu") 
            img(src="/images/hamburger.svg" alt="Preferences")
            div(class='prefs')
        span(class="welcome")
            |Welcome to ImBored
        button(class="weather")
            img(src="/images/weather-icon.svg" alt="Weather")
            img(src="/images/fakeweather.png" class="weather-results")
    div(id='prefResults')
    div
      a(href="/logout" class='logoutbutton') Logout
    script(type="text/javascript" src="/javascripts/jquery.js")
    script(type="text/javascript" src="/javascripts/underscore.js")
    script(type="text/javascript" src="/javascripts/backbone.js")
    script(type="text/javascript" src="/javascripts/results.js")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
    


    
    


