doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/stylesheets/reset.css")
    link(rel='stylesheet', href="/stylesheets/results.css")
  body
    block content
    nav
        div(class='xtra')
            button(class="prefMenu") 
                img(src="/images/hamburger.svg" alt="Preferences")
            div(class='prefs hidden')
        span(class="welcome")
            img(class=" header" src="/images/imBoredHeaderWeb.png" alt="Welcome to I'm Bored")
        button(class="weather")
    div(class='logoutbuttonContainer')
        a(href="/logout" class='logoutbutton') Logout     
    div(id='prefResults')
  footer(id='footer') 
    br
    p#team I'm Bored Team
    br
    a(target="_blank" href="https://www.linkedin.com/profile/view?authToken=xxnY&authType=name&id=116978612&trk=contacts-contacts-list-contact_name-0") Michael Olivieri
    a(target="_blank" href="https://www.linkedin.com/profile/view?id=422421465&trk=hp-identity-name") Chauncey Gard
    a(target="_blank" href="https://www.linkedin.com/profile/view?trk=contacts-contacts-list-contact_name-0&id=436008615") Richard Johnson
    br
  div    
    p#copy Copyright 2015
script(type="text/javascript" src="/javascripts/jquery.js")
script(type="text/javascript" src="/javascripts/underscore.js")
script(type="text/javascript" src="/javascripts/backbone.js")
script(type="text/javascript" src="/javascripts/results.js")
script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
    


    
    


