body {
	margin: 0;
	font-size: 18px;
	padding-top: 90px;
	font-family: arial;
}

nav {
	display: block;
	background-color: #33cc99;
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	z-index: 10;
}

.prefMenu {
	float: left;
  width: 1em;
  overflow: hidden;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 36px;
  white-space: nowrap;
  cursor: pointer;
}

.welcome {
	font-size: 36px;
}

.weather {
	float: right;
	border: none;
	background-color: transparent;
}
.weatherDetails {
	display: none;
	position: absolute;
	margin-top: -30px;
	border: none;
	background-color: whitesmoke;
	outline: none;
	font-size: 18px;
	right: 10px;
	top: 80px;
	padding: 15px;
	border-radius: 5px;
}

.weather:hover .weatherDetails {
	display: block;
}

#prefResults {
	box-sizing: border-box;
	border-radius: 10px;
	margin: 20px 30px 0;
	overflow: hidden;
	
}

#prefResults > div {
  text-transform: uppercase;
  border: 1px solid whitesmoke;
  border-right-width: 0;
  border-left-width: 0;
  background-color: #91edce;

}

#prefResults > div.isOpen h1:after {
	content: '';
	float: right;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #565959;
}

#prefResults > div:not(.isOpen) h1:after {
	content: '';
	float: right;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #565959;
}

.renderResults {
	display: none;
	min-height: 420px;
}

.renderResults li {
	padding: 5px;
	font-size: 18px;
}

.sectionLabel {
  cursor: pointer;
  background-color: #33cc99;
  padding: 20px 10px;
  color: #565959;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
}

#prefResults > div.isOpen .renderResults {
	display: block;
}

.resultListings {
	background-color: white;
	padding: 10px;
}

.resultListings li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.push {
	font-size: 18px;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.push:before { 
	content: "";
	border-left: 10px solid #565959;
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	float: left;
	margin-top: 1px;
	margin-right: 3px;
}

.push.beenCalled:before {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #565959;
	margin-top: 5px;
}

.push > div > * {
	display: inline;
}
.listing > * {
	margin-right: 10px;
}

.hidden {
	display: none;
}

.logoutbuttonContainer {
	text-align: center;
}

.logoutbutton {
	margin: -10px auto 0;
	text-align: center;
	padding: 20px;
	border: 50px;
	font-size: 20px;
	color: #565959;
}

.xtra {
	position: relative;
}

.prefs {
	position: absolute;
	background-color: white;
	padding: 15px;
	border-radius: 10px;
	top: 40px;
	color: black;
}

.prefs > * {
	display: block;
	font-size: 20px;
	padding: 5px;
	text-align: left;
	text-transform: capitalize;
}

.prefs input {
	float: right;
}   

.temp:after {
	content: '\00b0 F';
}

.map {
	display: none;
	float: right;
	height: 400px;
  width:400px;
	margin-top: 15px;
	margin-right: 15px;

}

.isOpen .map {
	display: block;
}


.header {
	height: 70px;
	margin-top: -11px;
}

.deets {
	background: white;
	display: inline-block;
	padding: 3px 6px;
	border-radius: 12px;
	margin-left: 20px;
}

.deets:empty {
	display: none;
}

.deets > * {
	display: block;
	margin: 5px;
}

.website {
	text-transform: none;
}

.dollar-signs-1:after {
	content: "$";
	color: #24D433;
}

.dollar-signs-2:after {
	content: "$$";
	color: #24D433;
}
.dollar-signs-3:after {
	content: "$$$";
	color: #24D433;
}

.dollar-signs-4:after {
	content: "$$$$";
	color: #24D433;
}

.dollar-signs-5:after {
	content: "$$$$$";
	color: #24D433;
}

.stars-1:after {
	content: '\2605';
	color: #FCEC05;
}

.stars-2:after {
	content: '\2605 \2605';
	color: #FCEC05;
}

.stars-3:after {
	content: '\2605 \2605 \2605';
	color: #FCEC05;
}

.stars-4:after {
	content: '\2605 \2605 \2605 \2605';
	color: #FCEC05;
}
.stars-5:after {
	content: '\2605 \2605 \2605 \2605 \2605';
	color: #FCEC05;
}

#footer {
	text-align: center;
	background-color: #33cc99;
	height: 90px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#team {
	font-weight: bold;
	font-size: 120%;
	color: #565959;
}

#copy {
	text-align: center;
	font-size: 75%;
	color: grey;
}

#footer > a {
	color: #565959;
	margin: 15px;
}