body{
	background-color: #33cc99;
	margin: 0;
	font-size: 18px;
}

nav{
	display: block;
	background-color: #bad6c0;
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
}

nav span{
	

}

.prefMenu{
	float: left;
    width: 1em;
    overflow: hidden;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 36px;
    white-space: nowrap;
    cursor: pointer;
}

.welcome{
	font-size: 36px;
}

.weather{
	float: right;
	position: relative;
    margin-top: -30px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 36px;
}
.weather-results{
	display: none;
	position: absolute;
    top: 100%;
    right: 0;
}
.weather:hover .weather-results{
	display: block;
}

#prefResults{
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 10px;
	margin: 70px 30px 0;
	overflow: hidden;
	
}

.resultSection{

}

.resultTitle {
  text-transform: uppercase;
  border: 1px solid gray;
  border-right-width: 0;
  border-left-width: 0;
  padding: 10px;
  background-color: whitesmoke;
}

.resultTitle.isOpen:after{
	content: '';
	float: right;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid black;
}

.resultTitle:not(.isOpen):after{
	content: '';
	float: right;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid black;
}
.resultListings{
	background-color: white;
	padding: 10px;
}

.resultListings li{
	margin-top: 5px;
	margin-bottom: 5px;
}

.listing > *{
	margin-right: 10px;
}

.hidden{
	display: none;
}

.logoutbutton{
	margin: 30px;
	padding: 20px;
	float: right;
	border: 50px;
	font-size: 20px;
	color:  #565959;
}

.xtra{
	position: relative;
}

.prefs{
	position: absolute;
	background-color: white;
	padding: 15px;
	border-radius: 10px;
	top: 40px;

}
.prefs > *{
	display: block;
	font-size: 20px;
	padding: 5px;
	text-align: left;
	text-transform: capitalize;
}

.prefs input{
	float: right;
}

#cafe, #gym, #park, #spa, #book_store,#amusement_park,#art_gallery,#aquarium,#bowling_alley,#movie_theater,#campground,#restaurant,#library,#museum,#shopping_mall,#stadium,#zoo,#university,#swimming,#hiking,#night_club {
        height: 500px;
        width:500px;
        margin: 0;
        padding: 0;
      }      



