body {
  padding-top: 50px;
  font: 14px "ariel", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a {
  color: #00B7FF;
}

input {
	padding: 5px;
	margin: 10px;
	text-align: center;
}

/*.preference {
	width: 25%;
	float: left;
	text-align: left;
	padding: 0 40px;
	box-sizing: border-box;
}

.preference input {
	float: right;
}*/

.error_msg {
  color: darkred;
}

/***LOG IN PAGE***/

.bodyDiv {
  background-color: #33cc99;
  text-align: center;
  /*min-height: 100%;
  min-width: 100%;*/
}

/*Main Body of Login*/
.index_body {
  /*width: 100%;*/
  /*height: 100%;*/
  display: inline-block;
  text-align: center;
}
/*"Sign Up Here"*/
.signUp {
	color:  #565959;
}

.loginForm {

}

.slogan {
  font-size: 1em;
  font-weight: 100;
}

.loginText, .regText {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/*Login Page Image*/
#imBoredLogo {
  text-align: center;
  min-width: 12%;
  max-width: 35%;
  
}

#btn {
  margin-bottom: 20px;
}

/*Log In Button*/
#btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
#btn:active {
	position:relative;
	top:1px;
}

/*Register Button*/
#btn2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#btn2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
#btn2:active {
	position:relative;
	top:1px;
}
 
/*@media (max-width: 960px) {
  .bodyDiv {
    
  }
  p {
  
  }
}*/

@media (max-width: 430px) {
  .loginForm {
    font-size: 1em;
  }
  .slogan {
    margin-bottom: 10%;
  }
  .body {
    padding: 15px;
  }
}

/***REGISTER PAGE***/

/*Logo*/
#imBoredText {
  text-align: center;
  max-height: 70px;
}

#regInfo {
  text-align: center;
}

/*Register a new account!*/
.h1{
	font-size: 1.5em;
  font-weight: 100;
}
/*Preference box list/table*/
.prefs {
  display: none;
  padding: 10px;
  margin-top: 20px;
  /*border: 1px solid white;*/
  border-radius: 10px;
  background-color: rgba(255,255,255,.15);
  font-weight: 200;
  text-align: left;
  text-transform: capitalize;
  
  /*max-width: 100%;*/
}

.prefBox {
  display: inline-block;
  font-size: 1em;
}

/*Div container for Preference Box*/
.main_reg {
  /*width: 505px;*/
  margin: auto;
}

/*Submit button*/
.buttons {
  display: none;
  font-weight: 200;
	margin: 10px;
	padding: 10px;
	clear: both;
}
/*Please choose some activities you like to do!*/
.activity {
	font-size: 1.4em;
  font-weight: 100;
  text-align: center;
}
/*Create Submit Button*/
#regSubmit {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#regSubmit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
#regSubmit:active {
	position:relative;
	top:1px;
}

@media (max-width: 3000px) {
  .bodyDiv {
    padding-top: 10%;
  }
  #loginForm {
      margin-top: 50px;
      margin-bottom: 25px;
  }
  .prefs {
    font-size: 1.4em;
  }
  .buttons {
  
  }
}

@media (max-width: 900px) {
  .bodyDiv {
    padding-top: 5%;
  }
  #loginForm {
      margin-top: 50px;
      margin-bottom: 25px;
  }
  .prefs {
    font-size: 1em;
  }
}


@media (max-width: 520px) {
  .prefs {
    font-size: .7em;
  }
  #loginForm {
      margin-top: 0px;
      margin-bottom: 0px;
  }
}





@media (max-width: 430px) {
  #imBoredText {
    
    max-width: 75%;
  }
  .prefs {
    display: inline-block;
    font-size: .4em;
    font-weight: 800;
  }
  .activity {
    text-align: center;
    font-size: 2.1em;
  }
}
